<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="connString" connectionString="Data Source=bd.asp.hostazul.com.br,3533;Initial Catalog=9263_yetzflow_db;User ID=9263_yetzflow_db_user;Password=yetzflow2306;Connect Timeout=30;Encrypt=False;TrustServerCertificate=False;ApplicationIntent=ReadWrite;MultiSubnetFailover=False"/>
  </connectionStrings>
</configuration>